header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
header nav {
  height: 20px;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
header nav ul li {
  margin-left: 30px;
}
header nav ul li a {
  display: block;
  text-decoration: none;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  transition: all 0.5s;
  color: #83888f;
}
header nav ul li a:hover {
  color: black;
}

@media screen and (max-width: 700px) {
  header #img {
    display: block !important;
    margin-right: 15px;
  }
  header nav {
    display: none;
  }
}
main {
  width: 100%;
  margin-top: 40px;
}
main .brek {
  width: 100%;
  height: 450px;
  background: url("../../images1/img1.png") no-repeat center center/cover;
}
main .brek .brek__card {
  width: 100%;
  max-width: 500px;
}
main .brek .brek__card .brek__card__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */
  color: #fefcf7;
  padding-top: 137px;
  margin-left: 85px;
  margin-bottom: 24px;
}
main .brek .brek__card .brek__card__description {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-left: 85px;
}
main .bg {
  width: 100%;
  background-color: #293039;
  border-radius: 5px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .bg .bg__inner {
  width: 90%;
  padding-top: 100px;
  padding-bottom: 100px;
}
main .bg .bg__inner .bg__inner__tayp {
  width: 80%;
  height: 50px;
  align-items: center;
  display: flex;
}
main .bg .bg__inner .bg__inner__tayp .bg__inner__tayp__aylana {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid blue;
}
main .bg .bg__inner .bg__inner__tayp .bg__inner__tayp__chiziq {
  width: 400px;
  height: 2px;
  border: 1px solid gold;
  background-color: gold;
}
main .bg .bg__inner .bg__inner__card {
  width: 90%;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .bg .bg__inner .bg__inner__card .bg__inner__card__box {
  width: 250px;
}
main .bg .bg__inner .bg__inner__card .bg__inner__card__box h1 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */
  color: #fdd6ba;
}
main .bg .bg__inner .bg__inner__card .bg__inner__card__box h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */
  margin-top: 32px;
  color: #fefcf7;
}
main .bg .bg__inner .bg__inner__card .bg__inner__card__box p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  margin-top: 42px;
  color: #fefcf7;
}
main .active {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
main .active .active__menu {
  width: 25%;
  height: 300px;
}
main .active .active__menu .active__menu__card {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid gray;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
main .active .active__menu .active__menu__card h4 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  transition: all 0.5s;
  color: gray;
}
main .active .active__menu .active__menu__card p {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  transition: all 0.5s;
  color: gray;
}
main .active .active__menu .active__menu__card h4:hover {
  color: #0e8784;
}
main .active .active__menu .active__menu__card p:hover {
  color: black;
}
main .active .active__card {
  width: 60%;
}
main .active .active__card h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #83888f;
}
main .active .active__card .active__card__table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 30px;
}
main .active .active__card .active__card__table .active__card__table__box {
  width: 30%;
  border-radius: 10px;
}
main .active .active__card .active__card__table .active__card__table__box h3 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  margin-top: 32px;
  margin-left: 28px;
}
main .active .active__card .active__card__table .active__card__table__box p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  margin-top: 24px;
  margin-left: 28px;
  margin-right: 28px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
}
main .active .active__card .active__card__table__box:nth-child(2) {
  background-color: #0e8784;
}
main .active .active__card .active__card__table__box:nth-child(2) h3 {
  color: white;
}
main .active .active__card .active__card__table__box:nth-child(2) p {
  color: white;
}
main .active .active__card .active__card__table__box:nth-child(3) {
  background-color: #fdd6b9;
}
main .active .active__card .active__card__table__box:nth-child(3) h3 {
  color: #333d4b;
}
main .active .active__card .active__card__table__box:nth-child(3) p {
  color: #333d4b;
}
main .active .active__card .active__card__table__box:nth-child(1) {
  background-color: #f4f1eb;
}
main .active .active__card .active__card__table__box:nth-child(1) h3 {
  color: #333d4b;
}
main .active .active__card .active__card__table__box:nth-child(1) p {
  color: #333d4b;
}
main .active__simple {
  width: 100%;
  margin-top: 20px;
}
main .active__simple h3 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #83888f;
}
main .active__simple .active__simple__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
main .active__simple .active__simple__inner .active__simple__inner__card {
  width: 30%;
  transition: all 0.5s;
  border-radius: 10px;
  background-color: #f4f1eb;
}
main .active__simple .active__simple__inner .active__simple__inner__card h3 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  margin-top: 32px;
  margin-left: 28px;
  color: #333d4b;
}
main .active__simple .active__simple__inner .active__simple__inner__card p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-left: 28px;
  margin-top: 24px;
  margin-right: 28px;
  padding-bottom: 90px;
  /* or 162% */
  color: #333d4b;
}
main .active__simple .active__simple__inner__card:hover {
  background-color: #0e8784;
}
main .active__simple .active__simple__inner__card:hover h3 {
  color: white;
}
main .active__simple .active__simple__inner__card:hover p {
  color: white;
}
main .active__title {
  width: 100%;
  margin: auto;
  border: 1px solid black;
  background-color: #293039;
  border-radius: 10px;
  margin-top: 30px;
}
main .active__title h5 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  margin-top: 27px;
  margin-left: 64px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
main .active__title p {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 27px;
  line-height: 40px;
  margin-left: 64px;
  margin-top: 8px;
  margin-right: 64px;
  margin-bottom: 27px;
  /* or 167% */
  color: #ffffff;
}
main .active__title span {
  color: #117c7a;
}
main .active__button {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 50px;
}
main .submit {
  width: 217px;
  height: 56px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  background: #66d2cf;
  color: white;
  transition: all 0.5s;
  border-radius: 6px;
  border: none;
}
main .submit:hover {
  background-color: white;
  border: 1px solid #66d2cf;
  color: #66d2cf;
}

footer {
  width: 95%;
  margin: 50px auto;
  background-color: #2C343E;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footer__logo {
  width: 60%;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer__logo img {
  width: 236px;
  height: 30px;
}
footer .footer__logo nav ul {
  list-style: none;
  display: flex;
}
footer .footer__logo nav ul li {
  margin-left: 20px;
}
footer .footer__logo nav ul li a {
  display: block;
  text-decoration: none;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  transition: all 0.5s;
  color: #83888F;
}
footer .footer__logo nav ul li a:hover {
  color: white;
}
footer .footer__icon {
  width: 20%;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer__icon i {
  font-size: 24px;
  color: white;
  transition: all 0.5s;
}
footer .footer__icon i:hover {
  color: #FDD6BA;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 90%;
  margin: auto;
}

@media (max-width: 1110px) {
  main .bg .bg__inner .bg__inner__card {
    width: 100%;
  }
  main .active .active__menu {
    display: none;
  }
  main .active {
    display: block;
  }
  main .active .active__card {
    width: 90%;
    margin: auto;
  }
  main .active .active__card .active__card__table {
    display: none;
  }
  main .active .active__card h2 {
    display: none;
  }
  main .active__simple .active__simple__inner {
    margin-bottom: 50px;
  }
  footer .footer__logo {
    width: 70%;
  }
}
@media (max-width: 992px) {
  main .bg .bg__inner .bg__inner__card .bg__inner__card__box h1 {
    font-size: 50px;
  }
  main .bg .bg__inner .bg__inner__card .bg__inner__card__box h2 {
    font-size: 25px;
  }
  main .bg .bg__inner .bg__inner__card .bg__inner__card__box p {
    font-size: 12px;
    margin-right: 15px;
  }
  main .bg .bg__inner .bg__inner__tayp .bg__inner__tayp__aylana {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  main .active .active__card h2 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height, or 150% */
    color: #83888f;
  }
  main .active__simple .active__simple__inner .active__simple__inner__card h3 {
    padding-right: 15px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    color: #333d4b;
  }
  main .active__title p {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */
    color: #ffffff;
  }
  footer {
    display: block;
  }
  footer .footer__logo {
    display: block;
    margin-top: 15px;
    width: 100%;
    text-align: center;
  }
  footer .footer__logo nav ul {
    justify-content: center;
    margin-top: 15px;
  }
  footer .footer__icon {
    margin: auto;
  }
  footer .footer__icon {
    padding-bottom: 15px;
    width: 50%;
  }
}
@media (max-width: 700px) {
  main .bg .bg__inner .bg__inner__tayp {
    display: none;
  }
  main .bg .bg__inner .bg__inner__card {
    display: block;
  }
  main .bg .bg__inner .bg__inner__card .bg__inner__card__box {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
  }
  main .active__simple .active__simple__inner .active__simple__inner__card p {
    padding-bottom: 30px;
  }
  main .active__simple .active__simple__inner {
    display: block;
    margin-bottom: 50px;
  }
  main .active__simple .active__simple__inner .active__simple__inner__card h3 {
    padding-top: 15px;
  }
  main .active__simple .active__simple__inner .active__simple__inner__card {
    width: 100%;
    margin: auto;
  }
  main .active__button {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  main .brek .brek__card {
    text-align: center;
    width: 100%;
  }
  main .brek .brek__card .brek__card__title {
    margin: 0px;
  }
  main .brek .brek__card .brek__card__description {
    margin: 0px;
    padding: 30px;
  }
  main .brek .brek__card .brek__card__title {
    font-size: 45px;
  }
  footer .footer__logo nav ul {
    display: block;
  }
  footer .footer__logo nav ul li a {
    margin-top: 10px;
  }
  footer .footer__icon {
    margin-top: -30px;
  }
  main .active__button {
    justify-content: center;
  }
}/*# sourceMappingURL=subscribe.css.map */